{% extends 'intro/layout.html' %}

{% block content %}

    <h1>Cambiar Contraseña</h1>

    <form action="{% url 'cambiarContrasena' %}" method="post">
        {% csrf_token %}

        <label for="email">Correo:</label>
        <input type="email" name="email" id="email" required="" value="{{correo}}"></input><br>
        <input type="submit" value="Enviar"></input><br>
    </form>

    {% if correo %}
        <form action="{% url 'verificarNumeroCambio' correo %}">
            {% csrf_token %}
            <label for="numver">Codigo de verificacion:</label>
            <input name="numver" id="numver"></input><br>
            <input type="submit" value="Verificar"></input>
        </form>
    {% endif %}

{% endblock %}