{% extends 'intro\layout.html' %}

{% block content %}

    <form action="{% url 'perfil' %}" method="POST">
        {% csrf_token %}
        <div class="User-Perfil">
            <h3>Perfil de {{user}}</h3>
    
            {% if message %}
                {{message}}<br>
            {% endif %}
            <img src="{{user.photo.url}}" alt="Foto de perfil" width="100" height="100"><br>
            <label for="Nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{user.first_name}}"><br>
            <label for="Apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="{{user.last_name}}"><br>
            <label for="Genero">Genero:</label>
            <input type="text" id="genero" name="genero" value="{{user.genero}}" disabled><br>
            <label for="Email">Email:</label>
            <input type="text" id="email" name="email" value="{{user.email}}" disabled><br>
            <label for="Username">Username:</label>
            <input type="text" id="username" name="username" value="{{user.username}}"><br>
            <label for="phone" >Telefono:</label>
            <input type="text" id="phone" name="phone" value="{{user.phone}}"><br>
            <label for="identity">Cedula:</label>
            <input type="text" id="identity" name="identity" value="{{user.identity}}"><br>
        </div>
        <input type="submit" value="Actualizar">
    </form>

    <input type="submit" href="#" value="Cambiar correo"></input><br>
    <a href="{% url 'cambiarContrasena' %}">Cambiar contraseña</a><br>
    <a href="{% url 'logout' %}">Logout</a><br>
    
{% endblock %}